<%- include('../partials/doctypeHead') %>
<body>
  <%- include('../partials/doctypeHeader') %>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <a href="/question1">Question 1</a>
      <a href="/question2">Question 2</a>
      <a href="/question3">Question 3</a>
      <a href="/question4">Question 4</a>
      <a href="/question5">Question 5</a>
      <a href="/question6">Question 6</a>
      <a href="/question7">Question 7</a>
      <a href="/question8">Question 8</a>
  </div>
</body>



