<!DOCTYPE html>
<%- include('../partials/doctypeHead') %>
<body>
  <%- include('../partials/doctypeHeader') %>
  <div>
    <a href="/views/pages/question7.ejs"> Previous</a>
    <a href="/views/pages/question9.ejs">Next </a>
    <!-- Im not sure if its correct but W3 said its as simple as making an a ref for the buttons.. -->
  </div>
  <div class="main">
    <h2>Part 2</h2>
    <div class="content">
      <%- include('../partials/questions/8') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p>No answer required here...</p>
      </div>
    </div>
  </div>
</body>
