<!DOCTYPE html>
<%- include('../partials/doctypeHead') %>
<body>
  <%- include('../partials/doctypeHeader') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <h3>Top 5 girls names in England and Wales</h3>
        <ol>
          <% populargirlNames.array.forEach(name, index) => { %>
            <li> <%= name %></li>
          <% }); %>
        </ol>
      </div>
      <nav>
        <a href="/question4">Previous</a>
        <a href="/question6">Next</a>
      </nav>
    </div>
  </div>
</body>
