<!DOCTYPE html>
<%- include('../partials/doctypeHead') %>
<body>
  <%- include('../partials/doctypeHeader') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/4') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <p><%= top3Names %></p>
      
      </div>
    </div>
    <nav>
      <a href="/question3">Previous</a>
      <a href="/question5">Next</a>
    </nav>
  </div>
</body>
